.slider {
    padding: 0 0 5px;
}
.slider .slides img {
    padding: 2vh;

}
.slider.is-admin:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    position: absolute;
    z-index: 1;
}
.slides {
    position:relative;
    width: 100%;
}

.image-header {

    position:absolute;
    width: 10% !important;

}

